body {
    margin: 0;
    background-color: black;
}

h1 {
    margin-left: 35px;
    margin-top: 35px;
    color: aliceblue;
}

nav {
    display: flex;
    
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin: 0
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
    color:#d8287d;
}

a:hover {
    color:#e869a6;
}


form {
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: 60px;
}

label {
    margin-left: 20px;
    color: white;
    margin-top: 7px;
}

input {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    cursor: pointer;
    padding: 10px 20px;
}

button {
    background-color: #C92071;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #991956;

}